# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media
# media/ - Removed to allow uploading photos
!media/.gitkeep

# Static
staticfiles/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Editor directories
.vscode/
.idea/
*.swp
.DS_Store
курсовая_работа_задание_обновленное_2.docx
